<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>From</th>
      <th>Destination</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% puts @flights %>
<% puts '5555555555555' %>
  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.name %><%= " " %><%= flight.ftype %></td>
        <td><%= flight.from %></td>
        <td><%= flight.destination %></td>
        <td><%= readable_time(flight.start_time) %></td>
        <td><%= readable_time(flight.end_time) %></td>
        <% if is_admin? %>
        <td><%= link_to 'Show', flight %></td>
        <td><%= link_to 'Edit', edit_flight_path(flight) %></td>
        <td><%= link_to 'Destroy', flight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td><%= link_to 'Book this Flight', new_flight_booking_path(:flight_id => flight.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
