
<% if is_admin? %>
<p>
  <strong>Name:</strong>
  <%= @flight.name %> <%= @flight.ftype %>
</p>

<p>
  <strong>From:</strong>
  <%= @flight.from %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @flight.destination %>
</p>

<p>
  <strong>Start time:</strong>
  <%= readable_time(@flight.start_time) %>
</p>

<p>
  <strong>End time:</strong>
  <%= readable_time(@flight.end_time) %>
</p>



<% puts 'aaaaaaaaaaaaa' %>
<% puts @first%>
<% puts @economy %>
<% puts @business %>
<% puts 'aaaaaaaaaaaaa' %>




  <% if @first %>
    <%= render 'firsts/show' %>
    <br>

  <!--  <%= link_to 'Create Seats', flight_first_path(@flight) %> -->
          <% if @fseat.count>0 %>

          <% else %>
               <%= link_to 'Confirm Seat Config for First Class', new_flight_first_seat_path(@flight, @first) %>
          <% end %>
  <% else %>
  <%= link_to 'Create First class', new_flight_first_path(@flight) %>
  <br>
  <%end%>
<br>


 <% if @business %>
    <%= render 'businesses/show' %>
<% else %>
    <%= link_to 'Create Business class', new_flight_business_path(@flight) %>
    <br>
<% end %>
<br>

<% if @economy %>
   <%= render 'economies/show' %>
<% else %>
   <%= link_to 'Create Economy class', new_flight_economy_path(@flight) %>
<% end %>

<br>
<%= render 'seats/index' %>

<% else %>
<%= link_to 'Go back to flights', flights_path %>
<% end %>
