<%= form_for @booking, url: flight_bookings_path do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form.hidden_field :user_id, value: current_user.id %>
<%= form.hidden_field :flight_id, value: @flight.id %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>


  <h3> Choose a Class </h3>

  <div class="field">
  <div class="flightclass">
     <div class="font20">  <%= form.label :'First class' %> </div>
    <%= @first1.num_of_seats %>  seats available
    <% if (@first1.num_of_seats <=0 )%>
    <% else %>
    <%= form.radio_button( :first_id, @first1.id ) %>
    <% end %>
  </div>
  <div class="flightclass">
    <div class="font20"><%= form.label :'Business class' %> </div>
    <%= @business1.num_of_seats %>  seats available
    <% if (@business1.num_of_seats <=0 )%>
    <% else %>
    <%= form.radio_button( :business_id, @business1.id)  %>
    <% end %>
  </div>
   <div class="flightclass">
    <div class="font20"><%= form.label :'Economy class' %> </div>
    <%= @economy1.num_of_seats %>  seats available
    <% if (@economy1.num_of_seats <=0 )%>
    <% else %>
    <%= form.radio_button( :economy_id, @economy1.id ) %>
      <% end %>
  </div>


  <div class="field">
    <%= form.label :seats %>
    <%= form.number_field :seats %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
