<h2> Choose Class </h2>

<%= form_for(@booking, url: upgradeseat_path, method: "post") do |form| %>
<% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :flight_id, value: @booking.flight_id %>
  <%= form.hidden_field :name, value: @booking.name %>
  <%= form.hidden_field :email, value: @booking.email %>
  <%= form.hidden_field :pnr, value: @booking.pnr %>
  <%= form.hidden_field :seats, value: @booking.seats %>


<div class="field">


 <% if (!@first.nil?) %>
  <div class="flightclass">
      <%= form.label :'First class' %>
      <%= @first.num_of_seats %>  seats available
      <% if (@first.num_of_seats > @booking.seats )%>
      <%= form.radio_button( :first_id, @first.id ) %>
      <% end %>
  </div>
<% end %>


  <% if(!@business.nil?) %>
        <% if (@booking.business_id.nil?) %>
          <div class="flightclass">
          <%= form.label :'Business class' %>
          <%= @business.num_of_seats %>  seats available
          <% if (@booking.flight.business.num_of_seats > @booking.seats) %>
            <% if (@business.num_of_seats > @booking.seats )%>
              <%= form.radio_button( :business_id, @business.id )  %>
            <%end%>
          <%end%>
        </div>
        <% end %>
  <% end %>


  </div>

<% if(!@business.nil? ) %>

    <% if (@business.num_of_seats > @booking.seats || @first.num_of_seats > @booking.seats )%>
      <div class="actions">
        <%= form.submit %>
      </div>
<% end %>
<% end %>
<% end %>
