<p id="notice"><%= notice %></p>

<p>
  <strong>Row:</strong>
  <%= @economy.row %>
</p>

<p>
  <strong>Seats in row:</strong>
  <%= @economy.seats_in_row %>
</p>

<%= link_to 'Edit', edit_economy_path(@economy) %> |
<%= link_to 'Back', economies_path %>
