<p id="notice"><%= notice %></p>

<p>
  <strong>Row:</strong>
  <%= @first.row %>
</p>

<p>
  <strong>Seats in row:</strong>
  <%= @first.seats_in_row %>
</p>

<p>
  <strong>Fcpnr:</strong>
  <%= @first.fcpnr %>
</p>

<%= link_to 'Confirm Seat Config', new_flight_first_seat_path(@flight, @first) %>
<%= link_to 'Edit', edit_first_path(@first) %> |
